@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
.primary__btn {
  position: relative;
  overflow: hidden;
  a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
  }
  background: c.$dominant;
  padding: 2.3rem 3.5rem;
  margin: 2rem 0;
  border-radius: 1.5rem;
  border: 3px solid rgba(255, 255, 255, 0.87);
  transition: transform ease-in-out 300ms;
  outline: none;
  box-shadow: -5px 30px 20px -20px rgb(86 93 113 / 44%);
  &:hover,
  &:focus {
    transform: translateY(-0.8rem);
    cursor: pointer;
    background-color: c.$secondaryColor;
  }
  @include m.media(sm) {
    width: 100%;
    padding: 1.7rem 1rem;
  }
}
.secondary__btn {
  position: relative;
  @include m.media(sm) {
    height: 6rem;
    width: 18rem;
  }
  box-shadow: -5px 30px 20px -20px rgb(86 93 113 / 38%);
  outline: none;
  transition: transform ease-in-out 300ms;
  height: 6.5rem;
  width: 16.6rem;
  margin: 3rem 0;
  background-color: c.$secondaryColor;
  border-radius: 1rem;
  border: none;
  &:hover,
  &:focus {
    transform: translateY(-0.5rem);
    cursor: pointer;
  }
  a {
    color: #ffffff;
  }
}
.link {
  a {
    text-align: center;
    @include m.flex(flex-start);
    margin-top: 1.3rem;
    color: c.$fontHighlight;
    font-weight: 500;
    font-size: v.$p;
    &:hover {
      color: c.$primaryColor;
    }
  }
  &:hover {
    cursor: pointer;
    .icon {
      margin-left: 2rem;
    }
  }
  .icon {
    margin-left: 1rem;
    font-size: 2rem;
    transition: margin-left 200ms ease-out;
  }
}
.custom__btn {
  position: relative;
  box-shadow: -5px 30px 20px -20px rgb(86 93 113 / 38%);
  text-transform: uppercase;
  border-radius: 1.5rem;
  margin: 2rem 0;
  padding: 2rem 5rem;
  background: transparent;
  border: 3px solid #000000;
  transition: transform ease-in-out 300ms;
  outline: none;
  a {
    font-weight: bold;
  }
  &:hover,
  &:focus {
    transform: translateY(-0.8rem);
    cursor: pointer;
    background-color: c.$dominant;

    a {
      color: #ffffff;
    }
  }
  @include m.media(sm) {
    width: 100%;
    padding: 1.5rem 2rem;
  }
}
// .overlay {
//   top: 0;
//   left: 0;
//   opacity: 1;
//   position: absolute;
//   background: red;
//   height: 100%;
//   width: 100%;
// }
