@use '../helpers/variables' as v;
@use '../helpers/colors' as c;
@use '../helpers/mixins' as m;

.checkout {
  padding: 4rem 0;
  @include m.flex(center);
  background: c.$dominant;
  &__left {
    &:hover {
      background-image: url(../../assets/active-states.jpg);
      z-index: 10;
      cursor: pointer;
    }
    flex: 0.5;
    @include m.flex(center);
    .content {
      p {
        padding: 1rem 0;
      }
      color: #fff;
    }
  }
  &__right {
    flex: 0.5;
    @include m.flex(center);
    .content {
      p {
        padding: 1rem 0;
      }
      color: #fff;
    }
  }
}
