@use '../helpers/variables' as v;
@use '../helpers/colors' as c;
@use '../helpers/mixins' as m;

.checkout {
  min-height: 25rem;
  @include m.flex(center);
  background: c.$dominant;
  &__left {
    flex: 0.5;
    @include m.flex(center);
    .content {
      p {
        padding: 1rem 0;
      }
      color: #fff;
    }
  }
  &__right {
    flex: 0.5;
    @include m.flex(center);
    .content {
      p {
        padding: 1rem 0;
      }
      color: #fff;
    }
  }
}
