@use '../helpers/variables' as v;
@use '../helpers/colors' as c;
@use '../helpers/mixins' as m;

.checkout {
  margin: 2rem 0;
  // min-height: 30rem;
  @include m.flex(center);
  background: c.$dominant;
  &__left {
    &:hover {
      background-image: url('../../assets/design.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    flex: 0.5;
    @include m.flex(center);
    .content {
      p {
        padding: 1rem 0;
      }
      color: #fff;
    }
  }
  &__right {
    &:hover {
      background-image: url('../../assets/code.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    flex: 0.5;
    @include m.flex(center);
    .content {
      p {
        padding: 1rem 0;
      }
      color: #fff;
    }
  }
  .item {
    min-height: 25rem;
    transition: background-image 200ms ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
}
