@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
.slider {
  position: relative;
  margin: 4.5rem 0;
  @include m.grid();
  background-color: c.$dominant;
  height: 65rem;
  padding: 10rem 6rem;
  .clientInfo {
    grid-column: 1/6;
    @include m.media(sm) {
      grid-column: 1/13;
    }
    h4 {
      color: #fff;
      font-weight: 600;
    }
    p {
      font-size: v.$p;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.65);
    }
  }
  .slideContent {
    @include m.media(sm) {
      grid-column: 1/13;
      padding: 4rem 2rem;
    }
    grid-column: span 6;
    position: relative;
    padding: 1.5rem 0;
    .quotation {
      position: relative;
      p {
        font-weight: 400;
        color: #fff;
        line-height: 1.3;
        font-size: v.$md;
      }
      .left-quote,
      .right-quote {
        position: absolute;
        height: 3rem;
        width: 3rem;
        color: #fff;
      }
      .left-quote {
        top: -2rem;
        left: -4rem;
      }
      .right-quote {
        bottom: -2rem;
        right: -3rem;
      }
    }
  }
  .wrapper__btn {
    position: absolute;
    width: 100%;
    height: 100%;
    @include m.flex(space-between);
    .btn {
      @include m.media(sm) {
        height: 50%;
      }
      transition: ease-in-out 300ms;
      height: 100%;
      color: #fff;
      padding: 1.5rem;
      cursor: pointer;
      font-size: v.$md;
      border: none;
      background: transparent;
      &:hover {
        color: c.$fontColor;
        background: rgba(255, 255, 255, 0.202);
      }
    }
    .dots {
      @include m.flex(center);
      position: absolute;
      bottom: 3%;
      left: 40%;
      @include m.media(sm) {
        left: 32%;
      }
      .dot {
        width: 4rem;
        height: 0.3rem;
        margin-left: 1rem;
        background: c.$fontColor;
        cursor: pointer;
        &.active {
          background: #fff;
        }
      }
    }
  }
}
