@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
.about {
  background: c.$dominant;
  color: #ffffff;
  padding: 4rem 0;
  .about__wrapper {
    padding: 0rem 8rem;
    @include m.grid;
    @include m.media(sm) {
      padding: 2rem;
    }
    @include m.media(md) {
      padding: 4rem;
    }
    .img__wrapper {
      background-image: url('../../assets/IMG_20220101_115612.jpg');
      background-position: 100% 100%, 100% 100%;
      background-repeat: no-repeat;
      background-size: 95% 125%, 100% 100%;
      height: 45rem;
      width: 100%;
      grid-column: span 6;
      @include m.media(sm) {
        order: 1;
        grid-column: 1/13;
        background-size: 100% 132%, 100% 100%;
      }
      @include m.media(md) {
        grid-column: 1/13;
        order: 1;
        background-size: 100% 132%, 100% 100%;
        height: 55rem;
      }
      @include m.media(lg) {
        height: 42rem;
      }
    }
    .about__description {
      align-self: center;
      grid-column: span 6;
      @include m.media(sm) {
        grid-column: 1/13;
        order: 2;
      }
      @include m.media(md) {
        grid-column: 1/13;
        order: 2;
      }
      h3 {
        line-height: 1.1;
        padding: 1.5rem 0;
      }
      .link {
        padding: 1rem 0;
      }
      .cta {
        @include m.flex(flex-start);
      }
      .cv {
        margin-left: 2rem;
      }
    }
  }
}
