@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;
.describe {
  @include m.grid;
  padding: 4rem 8rem;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  @include m.media(md) {
    padding: 3.5rem;
  }
  &__left {
    @include m.media(sm) {
      grid-column: 1/13;
    }
    @include m.media(md) {
      grid-column: 1/13;
    }
    align-self: center;
    padding: 2rem 2rem 2rem 0;
    grid-column: span 6;
    h2 {
      font-weight: 400;
      line-height: 1.05;
    }
    h4 {
      padding: 2rem 0;
    }
  }
  &__right {
    grid-column: span 6;
    @include m.media(md) {
      grid-column: 1/13;
    }
    @include m.media(sm) {
      grid-column: 1/13;
    }
    ul {
      text-align: start;
      width: 75%;
      h5 {
        font-weight: 700;
        margin-bottom: 1rem;
        font-size: v.$p;
      }
      li {
        background-size: 1em 1em;
        padding-left: 3rem;
        margin-bottom: 0.5rem;
        background-position: 0 50%;
        font-size: v.$p;
        list-style: none;
        background-image: url('https://uploads-ssl.webflow.com/603a00d2496482478db36f56/6059b9ce9376de30a9282afd_icon-checkmark.svg');
        background-repeat: no-repeat;
      }
    }
    p {
      text-align: start;
      margin: 1.5rem 0;
    }
  }
}
