@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
.hero__wrapper {
  position: relative;
  padding: 3rem 8rem;
  @include m.grid;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -20;
    background: c.$circle1;
    bottom: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%;
    clip-path: circle(20vw at 10% 56%);
    @include m.media(sm) {
      clip-path: circle(50vw at 13% 39%);
    }
  }
  .hero__container {
    position: relative;
    @include m.media(sm) {
      grid-column: 1/13;
    }
    @include m.media(md) {
      grid-column: 2/11;
    }
    @include m.media(xlg) {
      grid-column: 2/12;
    }
    grid-column: 2/13;
    margin-top: 6.5rem;
    padding: 2.5rem 0;
    color: c.$dominant;
    .circle__text {
      position: absolute;
      top: -4%;
      right: 2%;
      @include m.media(sm) {
        display: none;
      }
      @include m.media(xxlg) {
        right: -20%;
      }
      img {
        height: 12rem;
        width: 12rem;
        animation: rotate 4s linear infinite;
      }
    }
    h1 {
      padding: 1.5rem 0;
    }
    h5 {
      @include m.flex(space-around);
    }
    p {
      width: 70%;
    }
    .primary__btn {
      margin-top: 4rem;
    }
  }
}
