@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.project {
  position: relative;
  padding: 4rem 8rem;
  @include m.flex(center);
  flex-direction: column;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  @include m.media(md) {
    padding: 3.7rem;
  }
  .project__title {
    padding: 2rem 0;
    align-self: flex-start;
    h2 {
      font-weight: 600;
      margin: 1.2rem 0;
      @include m.media(sm) {
        font-size: v.$xlr;
      }
    }
    p {
      width: 70%;
      @include m.media(sm) {
        width: 90%;
      }
    }
  }
}
