@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;
@use '../helpers/colors' as c;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  // cursor: none;
}
::-webkit-scrollbar {
  width: 0.9rem !important;
}
::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 0.8rem;
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
html {
  scroll-behavior: smooth;
  font-size: 66%;
  @include m.media(sm) {
    font-size: 37.51%;
  }
  @include m.media(md) {
    font-size: 44%;
  }
  @include m.media(lg) {
    font-size: 56.25%;
  }
  @include m.media(xlg) {
    font-size: 62.5%;
  }
}
body {
  font-family: v.$main-font;
  // background: #000000;
  color: c.$dominant;
  // @include flex(center);
}
a {
  color: c.$dominant;
}
span {
  color: c.$dominant;
  font-weight: 700;
}
.hamburger,
.secondary__background,
.hero__wrapper,
.describe,
// .inner__header,
.project,
.testimonial,
.testimonial__title,
.progress,
.slider,
.skills__container,
.about__wrapper,
.about__page,
.contact,
.contact__page,
.story__page,
.case__details,
.blog__details {
  @include m.media(xxlg) {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
  }
}
