@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;

.about__page {
  padding: 4rem 7rem;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  @include m.media(md) {
    padding: 3.7rem;
  }
  .about__description,
  .experience {
    text-align: center;
    padding: 3rem;
    margin-top: 6rem;
    @include m.media(sm) {
      padding: 1.2rem 0;
      text-align: left;
    }
    @include m.media(md) {
      padding: 1.5rem 0;
    }
    h5 {
      letter-spacing: 1rem;
      color: gray;
    }
    h3 {
      padding: 1.5rem 0;
      line-height: 4.7rem;
      color: c.$dominant;
      font-weight: 400;
    }
    p {
      color: c.$fontColor;
      padding: 1rem 0;
      font-weight: 400;
      letter-spacing: 0.079rem;
    }
  }
  .experience {
    margin-top: 0rem;
    padding: 4rem 0;
    a {
      font-size: v.$p;
      color: #000;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  .html,
  .git {
    color: orangered;
  }
  .css {
    color: blue;
  }
  .scss {
    color: palevioletred;
  }
  .javascript,
  .firebase {
    color: yellow;
  }
  .react {
    color: cyan;
  }
  .webpack {
    color: rgb(22, 117, 206);
  }
  .gsap {
    color: green;
  }
  .language__container {
    .language__title {
      padding: 2rem;
      text-align: center;
      h3 {
        font-weight: 500;
        letter-spacing: 0.5rem;
        color: gray;
      }
    }
    .languages {
      align-items: center;
      justify-items: center;
      @include m.grid;
      grid-template-columns: repeat(10, 1fr);
      font-size: 3.2rem;
      padding: 2rem 1rem;
    }
  }
  .tools {
    @include m.media(sm) {
      text-align: left;
    }
    text-align: center;
    padding: 4rem 0rem;
    @include m.grid;
    gap: 4rem;
    h5 {
      letter-spacing: 0.15rem;
      padding: 2rem 0;
      font-weight: 600;
    }
    h4 {
      font-size: v.$md;
      line-height: 4rem;
    }
    &__left {
      grid-column: 1/5;
    }
    &__middle {
      grid-column: 5/9;
    }
    &__right {
      grid-column: 9/13;
    }
    &__left,
    &__middle,
    &__right {
      @include m.media(sm) {
        grid-column: 1/13;
      }
      @include m.media(md) {
        grid-column: 1/13;
      }
    }
  }
  .principles {
    padding: 2rem 0 4rem 0;
    h4 {
      color: gray;
      text-align: center;
      padding: 1rem 0;
    }
    .principle {
      padding: 2rem 0;
      &__title {
        padding: 2rem 0;
        h5 {
          font-size: v.$md;
          font-weight: 700;
        }
      }
      article {
        padding: 0.5rem 2rem;
        h5 {
          padding: 1rem;
        }
        p {
          padding: 0 1rem;
        }
      }
    }
  }
}
