@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
.blog__page {
  margin-top: 5rem;
  padding: 4rem 8rem;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  h4 {
    color: c.$fontColor;
    padding: 2rem 0;
    text-align: center;
  }
  .container {
    border-radius: 2rem;
    padding: 2rem 0;
    @include m.grid;
    gap: 4rem;
    .content {
      overflow: hidden;
      border-radius: 3rem;
      border: none;
      grid-column: span 6;
      // background: red;
      box-shadow: 6px 16px 26px rgba(0, 0, 0, 0.212);
      @include m.media(sm) {
        grid-column: 1/13;
      }
      .blog__img {
        height: 25rem;
        width: 100%;
        border: none;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .description {
        padding: 1.5rem;
        p {
          padding: 0.5rem 0;
          // color: c.$fontColor;
        }
      }
    }
  }
}
