.blog__page {
  margin-top: 5rem;
  padding: 4rem 8rem;
  @include media(sm) {
    padding: 2.5rem;
  }
  h4 {
    color: $fontColor;
    padding: 2rem 0;
  }
  .container {
    border-radius: 2rem;
    padding: 2rem 0;
    @include grid;
    .content {
      overflow: hidden;
      border-radius: 3rem;
      border: none;
      grid-column: span 4;
      // background: red;
      box-shadow: 6px 16px 26px rgba(0, 0, 0, 0.212);
      @include media(sm) {
        grid-column: 1/13;
      }
      .blog__img {
        height: 25rem;
        width: 100%;
        border: none;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .description {
        padding: 2rem;
        p {
          padding: 1rem 0;
          color: $fontColor;
        }
        .time {
          @include flex(space-between);
          span {
            color: $fontColor;
            font-weight: 400;
          }
          padding: 0.5rem 0;
        }
      }
      h5 {
        font-weight: 600;
      }
    }
  }
}
