.project {
  padding: 6rem;
  .project__title {
    h3 {
      width: 24ch;
    }
    padding: 0rem;
    margin-top: 10rem;
    p {
      padding: 2rem 0;
    }
  }
  .personal__projects {
    padding: 4rem 0;
    h3 {
      text-align: left;
    }
  }
}
